<div class="container mt-5">
  <div class="row">
    <h3>{{user.username | uppercase}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thublnail" src="{{user?.photoUrl}}" alt="{{user?.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Lokalizacja:</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Wiek:</strong>
            <p>{{user?.age}}</p>
          </div>
          <div>
            <strong>Ostatnia aktywność:</strong>
            <p>{{user?.lastActive}}</p>
          </div>
          <div>
            <strong>Data dołączenia:</strong>
            <p>{{user?.created}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
            <button class="btn btn-info"><i class="fa fa-envelope mr-2"></i>Wyślij wiadomość</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="{{user?.knownAs}}">
            <h4>Opis</h4>
            <p>{{user?.introduction}}</p>
            <h3>poszukuje</h3>
            <p>{{user?.introduction}}</p>
          </tab>
          <tab heading="Zainteresowania">
            <h4>Zainteresowania</h4>
            <p>{{user?.interests}}</p>
          </tab>
          <tab heading="Zdjęcia">
            <h4>Zdjęcia</h4>
            <p>Brak zdjęć do wyświetlenia</p>
          </tab>
          <tab heading="Wiadomości">
            <h4>Zdjęcia</h4>
            <p>Jeszcze brak</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
