<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Znajdź swoją połówkę</h1>
    <p class="lead mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="text-center mt-5">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Rejestracja</button>
      <button class="btn btn-info btn-lg">Zobacz więcej!</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
